<!DOCTYPE html>
<html>
    <head>
        <title>the heart has chambers</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />
    </head>
    <!--End of head-->

    <body>
        <header>
            
            <nav>
                <div class="logo">
                    <h4 class="page_title">the heart has chambers</h4>
                    <h5 class="sub_title">we all want to escape sometimes</h5>
                </div>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Work</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
                <div class="burger">
                    <i class="fa fa-bars fa-lg"></i>
                </div>
            </nav>
            <!--End of nav-->
            
        </header>
        <!--End of header-->

        <h1>Hi,</h1>
        <h1>My name is Olivia &#128540 </h1>

        

        <footer>
            <a href="https://github.com/cesarg01"><span aria-label="github" class="fa fa-github github-icon"></span></a>
            <a href="https://twitter.com/wrinklesfwisdom"><span aria-label="twitter" class="fab fa-twitter twitter-icon"></span></a>
            <a href="https://www.instagram.com/wrinklesofwisdom/"><span aria-label="instagram" class="fab fa-instagram ig-icon"></span></a>
        </footer>
        <!--End of footer-->

        <script src="/static/js/app.js"></script>

    </body>
    <!--End of body-->

</html>